body {
    margin:0;
    font-family: 'Cabin',sans-serif;
}
html {
    font-family: 'Cabin',sans-serif;
    height:100vh;
}

a {
    color: #42919e;
}

/* #main {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height:100vh;
} */
.custom-style {
    box-shadow: 0 1px 5px rgba(0,0,0,0.35);
    --icon-width: 26px;
    --icon-height: 26px;
    --active-height: 40px;
    --close-button-max-size: 12px;
    --icon-button-max-size: 18px;
    --primary-color: #000000;
    --secondary-color: rgba(141, 141, 141, 0.639);
    --border-color: rgba(0,0,0,.2);
    --border-size: 0px;
    --main-background-color: #ffffff;
    --background-color-candidate: #5a6673;
    --background-color-hover: #5a6673b3;
    --background-color-active: #50c3bd;
    --svg-stroke-width: 5px;
  }

#dialog-contents-jmpInfo {
    font-family: 'Cabin', sans-serif;
}

#dialog-contents-jmpInfo .leaflet-control-dialog-close {
    display:none;
}

#dialog-contents-jmpInfo .leaflet-control-dialog-resizer {
    display:none;
}

#dialog-contents-jmpInfo .legendStop {
    display:inline-block; 
    width:15px; 
    height:15px;
    margin-bottom:-2.5px;
    margin-top:-2.5px;
    margin-right: 5px;
}

#dialog-contents-jmpInfo .legendColor {
display: block;
margin-bottom: -2.5px;
margin-left: 30px;
}

#dialog-contents-jmpInfo .legendColorJMP {
    display: block;
    margin-bottom: 5px;
}

#dialog-contents-jmpInfo .legendColorJMP .legendStop{
    border: 1px solid #a0a0a0;
}

.scenarios .geocoder-control.leaflet-control {
    display: none;
}

.savedScenario {
    font-weight: 300 !important;
    font-size:18px !important;
    /* color: #42919e !important; */
    background-color: #ffffff4a !important;
    margin-right: 1px !important;
}

.savedScenario.Mui-disabled {
    color: #4b575b !important;
}

.summaryCard .difference {
    color: #42919e;
    font-size: 12px;
    font-weight: 700;
}

.summaryCard .factor {
    font-weight: 700;
    line-height: 50px;
    vertical-align: middle;
}

.tabScrollButton {
    padding-bottom:15px !important;
    color: #42919e !important;
}

.savedScenario.Mui-selected{
    color: #003347 !important;
    background-color: #fff !important;
    border-top: 2px solid #ffbc00 !important;
}

.incrementInput input {
    background-color: #fff !important;
    text-align: center;
    font-weight: 700;
}

.contextRadio {
    width: 100% !important; 
    display: block !important;
    text-align:center;
}

.contextRadioTitle {
    font-size:13px;
    color: rgb(29, 7, 7) !important;
}

.contextRadio label {
    text-align:center;
    font-size: 13px !important;
}

.contextRadioOption span {
    font-size:12px !important;
}

.infoPrompt {
    position: absolute !important;
right: 0px;
top: 0px;
}

.infoPrompt.rightPadded {
    right: 10px !important;
}

.populationCard .populationCardHeader {
    text-align:center !important;
    text-transform: uppercase !important;  
}

.populationCard .populationCardHeader svg {
    font-size: 40px !important;
    color: #42919e !important;
}

.populationCard .populationCardContent {
    padding: 0px !important; 
}

.populationCard h3 {
    padding: 0 !important;
    margin: 0 !important;
    text-align: center !important; 
    color: #003347 !important;
    font-size: 1em !important;
}

.populationCard .populationActions {
    display: block !important;
    padding: 0px !important;
    align-items: center !important;
    text-align: center !important;
}

.toilets .toiletCardHeader{
    padding: 10px 10px 0px 10px !important;
}

.toilets .difference {
    font-size: 12px !important;
    font-weight: 600 !important;
    color: #969696 !important;
}

.treatmentFractions .difference {
    font-size: 12px !important;
    font-weight: 600 !important;
    color: #969696 !important;
    margin-top:10px;
}

.toilets div[class^='Mui-CardContent'] {
    padding: 10px !important;
}

.toilet0 {
    background-color: rgb(191, 64, 64) !important;
    color: #fff !important;
    text-align:center;
    box-shadow: 0 1px 15px rgba(0,0,0,.04),0 1px 6px rgba(0,0,0,.04);
    border-radius:5px;
}

.toilet1 {
    background-color: rgb(188,123,80) !important;
    color: #fff !important;
    box-shadow: 0 1px 15px rgba(0,0,0,.04),0 1px 6px rgba(0,0,0,.04);
    border-radius:5px;
}

.toilet2 {
    background-color: rgb(191, 172, 64) !important;
    color: #fff !important;
    box-shadow: 0 1px 15px rgba(0,0,0,.04),0 1px 6px rgba(0,0,0,.04);
    border-radius:5px;
}

.toilet3 {
    background-color: rgb(102, 191, 64) !important;
    color: #fff !important;
    box-shadow: 0 1px 15px rgba(0,0,0,.04),0 1px 6px rgba(0,0,0,.04);
    border-radius:5px;
}

.toilet4 {
    background-color: rgb(64, 140, 191) !important;
    color: #fff !important;
    box-shadow: 0 1px 15px rgba(0,0,0,.04),0 1px 6px rgba(0,0,0,.04);
    border-radius:5px;
}

.toiletWrapper h2 {
    color: #fff;
    margin-right: 10px;
    font-weight: 500;
}

.statsSub {
    font-size: 12px !important;
    font-weight: 600 !important;
    line-height: 2 !important;
    text-align: center !important;
    color: #969696 !important;
}

.nojmp {
    -webkit-filter: grayscale(1); /* Webkit */
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* W3C */
}

.treatmentFractions .thumb-0 {
    background-color: #003347 !important;
}

.thumb-0 {
    background-color: rgb(191, 64, 64) !important;
}

.thumb-1 {
    background-color: rgb(188,123,80) !important;
}

.thumb-2 {
    background-color: rgb(191, 172, 64) !important;
}

.thumb-3 {
    background-color: rgb(102, 191, 64) !important;
}

.loading-overlay {  
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(66, 145, 158, 0.84);
    z-index: 1200;   
  }

  .loading-overlay-content {
      text-align:center;
      color: #fff;
      font-size:20px;
      font-family: Cabin, sans-serif;
      letter-spacing: 2px;
  }

  .loading-overlay-content div {
      margin: auto;
      margin-top: 120px !important;
  }

  .loading-overlay-content-inverted {
    text-align:center;
    color: #42919e;
    font-size:20px;
    font-family: Cabin, sans-serif;
    letter-spacing: 2px;
    }

    .loading-overlay-content-inverted div {
        margin: auto;
        margin-top: 120px !important;
    }

  .ag-root {
      font-family: 'Cabin', sans-serif;
  }

  .logValue {
      font-weight:800;
      font-size: 18px;
  }

  .percentageValue {
    font-size: 18px;
    margin-left: 10px;
    color: #5a6673;
}

#dialog-contents-colorscale {
    font-family: 'Cabin', sans-serif;
    height:70px;
}

#dialog-contents-colorscale p {
    margin-top: 5px;
}

#dialog-contents-colorscale .stops {
    margin-left: -6px;
}

#dialog-contents-colorscale .stops span:not(:last-child) {
    width: 38px;
    display: inline-block;
    font-size:10px;
}

.leaflet-image-layer {
    opacity: 0.7;
}

.inputSummary {
    font-family: 'Cabin', sans-serif;
    position:relative;
    height: 120vh;
    overflow-y:auto;
    overflow-x:hidden;
}

.inputSummary h2 {
    color: #003347;
    font-size:20px;
}

.inputSummary h3 {
    font-size: 16px;
    color: #646464;
    margin-left: 5px;
}

.helpOptions {
    text-align:center;
}

.helpOptions a {
    display: inline-block;
    cursor: pointer;
    text-align:center;
    text-decoration: none;
    padding:20px;
    border: 1px #ddd solid;
    border-radius: 3px;
    margin-right:10px;
    font-family: 'Cabin', sans-serif;
    width: 30%;
    whitespace: no-wrap;
}

.helpOptions a:hover {
    background-color: #eee;
}

.manualButton {
    color: #000;
}

.manualButton span{
    display: block;
    font-size:18px;
}


.manualButton svg {
    font-size:50px;
    color: #003347;
    margin:auto;
}

.disclaimer {
    color: #343434;
    text-decoration: none;
    margin-top: 10px;
    float: right;
}

.pngOptions {
    position: absolute;
    top: 0px;
    right: 0px;
}

#dialog-contents-infoDialog {
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    text-align: justify;
}

#dialog-contents-infoDialog h4 {
    color: #003347;
    font-size:15px;
}

.sourceDataset {
    color: #000;
    padding-top:10px;
    padding-bottom:10px;
    text-decoration: none;
    text-align:center;
    width:100%;
    float:right;
    background-color:#ccc;
    border-radius:3px;
}

.sourceDataset:hover {
    background-color: #ddd;
}

.outputCard h3 {
    padding-top: 0px !important;
    margin-top: 0px !important;
    color: #42919e;
    letter-spacing: 1px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.outputCard {
    padding: 10px !important;
    margin-top: 5px;
}

.outputCard .infoPrompt {
    padding: 0px !important;
}

.outputCard:first-child {
    background-color: #eee !important;
}

.summaryTab {
    position: relative;
    padding: 0px 10px;
}

.summaryTab h2 {
    color: #003347;
    font-size: 20px;
}

#sidebar {
    margin-top:65px;
    opacity: 0.95;
}

#sidebar .sidebar-header {
    background-color: #003347 !important;
}

#sidebar .sidebar-tabs>li.active, .sidebar-tabs>ul>li.active {
    background-color: #003347 !important;
}

#sidebar p {
    padding-bottom: 10px;
    font-size: 14px;
}

.sidebar-tabs li.active svg {
    fill: #ffffff;
}

.sanitation svg {
    fill: #424242;
    width:20px;
    margin-top:10px;
}

.treatment svg {
    fill: #424242;
    width:20px;
    margin-top:10px;
}

.colorscale-swatch:after {
    position: absolute;
 margin-top: 25px;
 font: 11px/1 sans-serif;
 color: #000;
}

.colorscale-swatch:nth-child(1):after {
 content: "0";
 margin-left: -3px;
}

.colorscale-swatch:nth-child(3):after {
    content: "2";
    margin-left: -3px;
   }
   
   .colorscale-swatch:nth-child(5):after {
    content: "4";
    margin-left: -3px;
   }

   .colorscale-swatch:nth-child(7):after {
    content: "6";
    margin-left: -3px;
   }

   .colorscale-swatch:nth-child(9):after {
    content: "8";
    margin-left: -3px;
   }

   .colorscale-swatch:nth-child(11):after {
    content: "10";
    margin-left: -7px;
   }

   .colorscale-swatch:nth-child(13):after {
    content: "12";
    margin-left: -7px;
   }

   .colorscale-swatch:nth-child(15):after {
    content: "14";
    margin-left: -7px;
   }

   .colorscale-swatch:nth-child(17):after {
    content: "16";
    margin-left: -7px;
   }
